<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uniserv.cipher.mapper.CipherPasswordEntryMapper">

    <update id="removeTotpById" parameterType="java.util.UUID">
        update cipher_password_entry
        set totp_token    = null,
            recovery_code = null
        where password_id = #{passwordId}
          AND deleted = false
    </update>
</mapper>
